<!-- your html code here -->
<div class="row">
    <nav class="p-0 navbar bg-dark border-bottom border-body text-white-50 justify-content-start " data-bs-theme="dark">
        <div class="ps-0 pb-1" style="font-size: 20px;">
          <a style="color: rgb(179, 174, 174);" class="nav-link link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#tagline">Start Bootstrap</a>  
        </div>
        <div style="font-size: 14px;">
          <a style="color: rgb(179, 174, 174);" class="nav-link link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#">About</a>
        </div>
        <div style="font-size: 14px;">
          <a style="color: rgb(179, 174, 174);" class="nav-link link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#">Services</a>
        </div>
        <div style="font-size: 14px;">
          <a style="color: rgb(179, 174, 174);" class="nav-link link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#">Portfolio</a>
        </div>
        <div style="font-size: 14px;">
          <a style="color: rgb(179, 174, 174);" class="nav-link link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#contact">Contact</a>
        </div>
    </nav>
</div>