<!-- Zairaportfolio html code here -->
<div style="background-color: white;width: 100%; height: 100%; display: flex; justify-content: center; border-top: 1px solid rgb(175, 170, 170); border-bottom: 1px solid rgb(175, 170, 170); ">
    <div style="background-color: white; width: 1200px; height: 100%; padding-top: 100px; padding-bottom: 65px;">
        <div class="row" style="width: 1200px;background-color: white; display: flex; margin: auto;">
            <div id="portfolio" style="padding: 0;">
                <h1 id="portfolio">Portfolio</h1>
            </div>
            <div id="textPortfolio" style="font-size: 20px; padding: 0;">
                <p>In a realm of code, where dreams take flight,
                    a team of newbies stepping into the light,
                    a diverse bond, with passion so true,
                    tech warriors gather, seeking breakthrough.
                    Working together in a first project, we put in the hard work and determination,
                     nothing would hold us back!
                </p>
            </div>
            <div id="portfolioCards">
                <div class="row gap-2 d-flex">
                    <div class="ps-0 col">
                        <div class="card border border-0">
                            <img src="https://picsum.photos/id/54/700/400" class="img-fluid">
                            <div class="ps-0 card-body text-start p-2">
                                <div class="card-title fw-bold mb-0 p-2 ps-0">
                                    <p class="mb-0 fs-4" style="color: rgb(75, 140, 200);">Rise of the Code Warriors</p>
                                </div>
                                <div class="text">
                                    <p>Unleash the fire, set the future free,
                                        together we'll soar to heights yet to be.
                                        Unleash the fire, let the world believe,
                                        with unity and skill, we'll never grieve!
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                
                
                    <div class="ps-0 col">
                        <div class="card border border-0">
                            <img src="https://picsum.photos/id/7/700/400" class="img-fluid">
                            <div class="ps-0 card-body text-start p-2">
                                <div class="card-title fw-bold mb-0 p-2 ps-0">
                                    <p class="mb-0 fs-4" style="color: rgb(75, 140, 200);">Unleash the fire</p>
                                </div>
                                <div class="text">
                                    <p>Through countless bugs and conflicting views,
                                        they persist with hope, never to lose.                                        
                                        Rise of the code warriors, we'll conquer it all,
                                        in this tech revolution, we'll stand tall!
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                
                
                    <div class="ps-0 col">
                        <div class="card border border-0">
                            <img src="https://picsum.photos/id/961/700/400" class="img-fluid">
                            <div class="ps-0 card-body text-start p-2">
                                <div class="card-title fw-bold mb-0 p-2 ps-0">
                                    <p class="mb-0 fs-4" style="color: rgb(75, 140, 200);">Let the world believe</p>
                                </div>
                                <div class="text">
                                    <p>A newby team of developers couldn't be out-done.
                                        Working together diligently in a first project, to make a masterpiece,
                                         we gave our all, just to take a stand, we won't ever take a step back,                                   
                                        so the public could all enjoy this sweet first project release!                                        
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>